engine-strict=true
@euipo:registry=http://ci-prod-nexus.prod.oami.eu:8081/nexus/repository/npm-euipo/
# FOR INTRASOFT LOCAL DEV
# proxy=http://172.25.39.50:3128
# https-proxy=http://172.25.39.50:3128
